.main-container {
  display: flex;
  padding-top: 2rem;
  margin: 0 auto;
  width: 100vw;
  padding: 2rem 15vw 0rem 15vw;
  flex-wrap: wrap;
}
.main-left {
  width: 40%;
}
.main-right {
  width: 60%;
}
.box-description {
  border: 1px solid var(--grey-2);
  height: 21.938rem;
  border-radius: 0.5rem;
  padding: 2.3rem 1.5rem 2.3rem 1.5rem;
  display: flex;
  flex-direction: column;
}

p.p-description {
  color: var(--grey-3);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.35rem;
  margin-top: 0.25rem;
  text-align: start;
  margin-bottom: 1.1rem;
}
p.p-inputs {
  text-align: start;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.35rem;
  margin-bottom: 0.75rem;
}
.input-description {
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--grey-1);
  width: 22vw;
  height: 3.2rem;
  color: var(--grey-3);
  font-size: 1rem;
  font-weight: 400;
  border: none;
}
.flex {
  display: flex;
  gap: 2.25rem;
  margin-bottom: 1.2rem;
  flex-wrap: wrap;
}
.height3rem {
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
}
.inputs-grey {
  background-color: var(--grey-1);
  height: 3rem;
  border: none;
  min-width: 8rem;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
}
.button-header {
  border: none;
  background-color: var(--grey-2);
  color: var(--grey-4);
  height: 2.5rem;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
}
.button-header:focus {
  background-color: var(--brand-1);
  color: var(--grey-1);
}
.button-header-red {
  border: none;
  background-color: var(--brand-1);
  color: var(--grey-1);
  height: 2.5rem;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
}
.buttons-colection {
  display: flex;
  gap: 1vw;
  border-radius: 0.5rem;
  justify-content: flex-end;
}
.header-main-right {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.5rem 0rem 1.5rem;
  align-items: center;
  margin-bottom: 2.25rem;
  flex-wrap: wrap;
  width: 40vw;
}
.p-bold {
  font-size: 1rem;
  line-height: 137%;
  font-weight: 700;
}
.p-no-card {
  font-weight: 700;
  font-size: 1.375rem;
  text-align: left;
  padding: 1.5rem;
}
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1.5rem;
}
.card-green {
  margin: 0 auto;
  background-color: var(--grey-1);
  height: 5.438rem;
  width: 40vw;
  border-radius: 0.5rem;
  border-left: 5px solid var(--brand-green);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}
.card-grey {
  margin: 0 auto;
  background-color: var(--grey-1);
  height: 5.438rem;
  width: 40vw;
  border-radius: 0.5rem;
  border-left: 5px solid var(--grey-2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}
.btn-bin {
  margin-top: 0.6rem;
  border: none;
  width: 1.375rem;
  height: 1.375rem;
  background-color: var(--grey-2);
  border-radius: 0.25rem;
}
.card-right {
  display: flex;
  gap: 1.75rem;
}
.width102px {
  width: 6.375rem;
  height: 1.375rem;
  margin-top: 0.625rem;
}
.p-card-light {
  color: var(--grey-4);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;
}
.p-card-bold {
  font-size: 1rem;
  height: 2rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  text-align: left;
}
.total-money {
  color: var(--brand-1);
  font-weight: 700;
  font-size: 1rem;
}
.div-total-container {
  margin-top: 1rem;
  border: 1px solid var(--grey-2);
  border-radius: 0.5rem;
  height: 6rem;
  display: flex;
  padding: 1.25rem 1.5rem 0rem 1.5rem;
  justify-content: space-between;
}
.responsividade {
  display: flex;
  height: 3rem;
  width: 10vw;
}
.img-no-card {
  width: 40vw;
}
@media (max-width: 1222px) {
  .box-description {
    height: 60vh;
  }
  .input-description {
    font-size: 0.75rem;
  }
  p.p-description {
    margin-bottom: 1.1rem;
  }
}
@media (max-width: 800px) {
  .main-container {
    padding: 5vw;
  }
  .card-grey {
    margin-left: 0rem;
  }
}
@media (max-width: 585px) {
  .inputs-grey {
    min-width: 25vw;
  }
  .input-description {
    font-size: 1rem;
  }
  .main-container {
    flex-direction: column;
  }
  .box-description {
    width: 90vw;
    height: 30vh;
    padding: 1rem;
  }
  p.p-description {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  p.p-inputs {
    margin-bottom: 0rem;
  }
  .div-total-container {
    width: 90vw;
    height: 7vh;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .p-card-bold {
    line-height: 110%;
    height: 20px;
  }
  .total-money {
    font-size: 30px;
  }
  .header-main-right {
    width: 90vw;
    height: 5vh;
    margin-top: 1vh;
    padding: 0rem;
    margin-top: 2vh;
  }
  .buttons-colection {
    width: 90vw;
    justify-content: space-between;
    margin-top: 1vh;
  }
  .p-no-card {
    width: 90vw;
    padding: 0rem;
    padding-top: 1vh;
  }
  .img-no-card {
    width: 90vw;
    padding-top: 2vh;
  }
  .card-green {
    width: 90vw;
  }
  .card-grey {
    width: 90vw;
  }
  .cards-list {
    width: 90vw;
    padding: 0rem;
    margin: 0rem;
    margin-top: 2vh;
    gap: 1vh;
    padding-top: 2vh;
  }
  .input-description {
    width: 80vw;
  }
}
