.header-container {
  width: 100vw;
  height: 5.5rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px 0.5px var(--grey-2);
}
.header {
  width: 70vw;
  height: 5.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
